* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  overflow: hidden;

  main {
    width: 70%;
    max-width: 1000px;
    min-width: 864px;
    height: 550px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    // overflow: hidden;

    .left-part {
      flex: 1;
      width: 50%;
      user-select: none;

      .img-wrapper {
        overflow: hidden;

        #top-box {
          position: relative;
          top: -289px;
          left: -570px;
        }

        #woman-img {
          position: relative;
          top: -870px;
          left: -80px;
        }
      }

      #email-box {
        position: relative;
        top: -1100px;
        left: -130px;
      }

      #email-box-mobile {
        display: none;
      }
    }

    .right-part {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 32px;
        margin: 70px 0 50px 0;
        font-weight: 700;
      }

      .faq-wrapper {
        flex: 1;

        .faq {
          width: 80%;
          max-width: 400px;
          min-height: 60px;
          padding: 15px 15px 15px 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-bottom: 1px hsl(240, 5%, 91%) solid;
          user-select: none;

          .first-line {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
              flex: 1;
            }
          }

          &:hover {
            cursor: pointer;
            p {
              color: hsl(14, 88%, 65%);
            }
          }

          .answer {
            margin: 20px 0 0 0;
            color: rgb(132, 131, 136);
            font-size: 12px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

.reverse {
  transform: rotate(180deg);
}

@media only screen and (max-width: 1040px) {
  body {
    main {
      flex-direction: column;
      align-items: center;
      height: 600px;
      min-width: 326px;
      min-width: 396px;

      .left-part {
        height: 50%;
        width: 100%;

        .img-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          overflow: visible;

          #top-box {
            transform: scale(0.26);
            position: relative;
            top: -499px;
          }

          #woman-img {
            transform: scale(0.5);
            position: relative;
            top: -1147px;
            left: 0;
          }

          #email-box-mobile {
            display: block;
            transform: scale(0.45);
            position: relative;
            top: -1397px;
            left: -80px;
          }
        }
        #email-box {
          display: none;
        }
      }

      .right-part {
        width: 100%;
        align-items: center;
        position: relative;
        top: -260px;

        h1 {
          font-size: 24px;
        }

        .faq-wrapper {
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .faq {
            max-width: 500px;
            // min-width: 350px;

            .first-line {
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
